<ion-header>
  <ion-toolbar color="wine">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Minhas compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-list *ngFor="let list of cart">
      <ion-item lines="full">
        <ion-thumbnail slot="start">
          <img src="{{ list.img }}" alt="Thmbnail">
        </ion-thumbnail>
        <ion-label slot="start">
          {{ list.nome }}
        </ion-label>
        <ion-badge slot="end" color="brown">{{ list.preco | currency:'BRL':true }}</ion-badge>
      </ion-item>
    </ion-list>
    <h3 class="text-center">Total: 000</h3>
    <ion-button expand="full" size="default" class="mt-3" color="wine">
      Finalizar Compra
    </ion-button>
  </ion-card>
  
</ion-content>
