#background-menu {
    background-image: url(../assets/background-menu/fundo-menu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.list-md {
    padding: 0;
}
