<ion-header>
  <ion-toolbar color="wine">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="w-100 h-25" id="food" routerLink="/food">
    <div class="d-flex justify-content-center align-items-center">
    <p class="text-white font-title">Pratos</p>
      </div>
    
  </div>

  <div class="w-100 h-25" id="drinks">
      <div class="d-flex justify-content-center align-items-center">
    <p class="text-white font-title">Bebidas</p>
        </div>
    
  </div>

  <div class="w-100 h-25" id="candy">
      <div class="d-flex justify-content-center align-items-center">
    <p class="text-white font-title">Doces</p>
        </div>
    
  </div>

  <div class="w-100 h-25" id="plates">
      <div class="d-flex justify-content-center align-items-center">
    <p class="text-white font-title">Pratos prontos</p>
        </div>
    
  </div>
  

</ion-content>