<ion-header>
  <ion-toolbar color="wine">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="jumbotron jumbotron-fluid shadow" id="food" routerLink="/food">
    <div class="container-fluid">
      <h1 class="display-5 text-center text-light text-monospace font-menu">Pratos</h1>
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid shadow" id="drinks" routerLink="/drink">
    <div class="container-fluid">
      <h1 class="display-5 text-center text-light text-monospace font-menu">Bebidas</h1>
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid shadow" id="candy" routerLink="/candy">
    <div class="container-fluid">
      <h1 class="display-5 text-center text-light text-monospace font-menu">Doces</h1>
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid shadow" id="promotion" routerLink="/promotion">
    <div class="container-fluid">
      <h1 class="display-5 text-center text-light text-monospace font-menu">Promoções</h1>
    </div>
  </div>

</ion-content>