<ion-header>
  <ion-toolbar color="wine" #header>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/list"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Bebidas
    </ion-title>

  </ion-toolbar>
  <ion-toolbar color="wine">
    <ion-searchbar animated (ionInput)="buscaComida($event)" placeholder="Buscar comida..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" appHideHeader [header]="header">

  <ion-card>
    <ion-card-content *ngFor="let drink of listaFiltrada">
      <ion-item routerLink="/description" (click)="comer(drink)">
        <ion-thumbnail slot="start">
          <img [src]="drink.img" alt="{{ drink.nome }}">
        </ion-thumbnail>
        <ion-label>{{ drink.nome }}</ion-label>
        <ion-badge slot="end" color="brown">{{ drink.preco | currency:'BRL':true }}</ion-badge>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
