<ion-header>
  <ion-toolbar color="wine">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/list"></ion-back-button>
    </ion-buttons>
    <ion-title>Descrição</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <img [src]="prato.img" class="rounded shadow-sm img-fluid" alt="Produto">
      <ion-card-title class="font-italic font-weight-bold">{{ prato.nome }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{ prato.descricao }}
    </ion-card-content>
    <ion-button class="m-3" expand="block" color="success" routerLink="/cart">
      Adicionar ao carrinho <ion-icon name="cart"></ion-icon>
    </ion-button>
  </ion-card>

</ion-content>