<ion-header>
  <ion-toolbar color="wine" #header>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/list"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Doces
    </ion-title>

  </ion-toolbar>
  <ion-toolbar color="wine">
    <ion-searchbar animated (ionInput)="buscaComida($event)" placeholder="Buscar comida..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true" appHideHeader [header]="header">

  <ion-card>
    <ion-card-content *ngFor="let doce of listaFiltrada">
      <ion-item routerLink="/description">
        <ion-thumbnail slot="start">
          <img [src]="doce.img" alt="{{ doce.nome }}">
        </ion-thumbnail>
        <ion-label>{{ doce.nome }}</ion-label>
        <ion-badge slot="end" color="brown">{{ doce.preco | currency:'BRL':true }}</ion-badge>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>
